# Unit testing
- Use Jasmine e.g. for spies
- Create test cases with `describe()` block for every contructor/function/method.
- Use function/method names without parentheses in the describe blocks
- Cover all code paths
- Don't provide standalone component in declarations
- Access private component methods/members/properties using square bracket notation
